<p>
  tipousuario works!
</p>
<div class="container align-items-center">
  <div class="row align-items-center">
    <div class="col-xs-10 col-lg-5 card px-2 ">
      <div class="card-body text-center">
        <h2 class="my-2">E-Porra</h2>
        <p class="my-2">La manera más fácil y divertida de apostar...</p>
      </div>
    </div>

    <div class="col-12 text-center mt-2">
      <p>¿No tienes cuenta? <a href="/signin">Administrador</a></p>
    </div>
    <div class="col-12 text-center mt-2">
      <p>¿No tienes cuenta? <a href="/signinApostador">Apostador</a></p>
    </div>
  </div>
</div>
